.clickicons, .clickiconw{
    color: rgb(165, 163, 175);
}

.clickiconw:hover{
    color: rgb(240, 98, 88);
}

.clickiconw:active{
    color: rgb(250, 17, 0);
}

.clickicons:hover{
    color: #1d8bd4;
}