@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
.todo-container {
  position: absolute;
  color:#fff;
  z-index: 5;
  width: 100%;
}
.todo-wrapper{
  padding: 2em;
  text-align: center;
  justify-content: center;
  align-items: baseline;
  background: rgba(255, 67, 54, 0.7);
  border-radius: 10px;
  font-family: "Lato", sans-serif;
}

.todo-wrapper h1{
  font-family: "Lato", sans-serif;
  text-decoration: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.todo-wrapper .todo-input {
  width: 100%;
  font-family: "Lato", sans-serif;
}

.form-input:focus {
  outline: none;
  font-family: "Lato", sans-serif;
}

.form-input:focus {
  color: gray;
  background-color: transparent;
  top: 20px;
}

.todo-wrapper .todo-input input {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  outline: none;
  width: 350px;
  padding: 1em;
  margin: 0;
  border: none;
  text-shadow: 0 0 0 #5b9a78;
  background: none;
  caret-color: #fff;
  text-align: center;
  color:#fff;
  font-size: 1.1em;
  border-bottom: 1px solid #fff;
}

.todo-wrapper .todo-input button {
  padding: 1em;
  background: #1E88E5;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.todo-list{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.todo-list ul{
   list-style-type: none;
}

.todo-list ul li {
  padding: 1em;
  width: 300px;
  background: rgba(255,255,255,0.1);
  width: 400px;
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
  height: 40px;
  overflow: hidden;
  color: transparent;
  text-decoration: uppercase;
  text-shadow: 0 0 0 #5b9a78;
  color:#fff;
}

.todo-list ul li button {
  font-family: "Lato", sans-serif;
  padding: 0.8em;
  float: right;
  background: rgba(255, 67, 54, 0.85);
  outline: none;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
